body {
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/98/19/notebook-paper-background-template-with-vector-13609819.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bradley Hand", Times, serif;
    font-size: 260%;
}

h1 {
    text-decoration: underline;
}

.finished {
    background-color: rgba(83, 241, 10, 0.99);
    text-decoration: line-through;
    color: red;
}

#tasks {
    font-size: 50%;
}

